<a href="https://colab.research.google.com/github/SSaiTeja23/SAITEJA_INFO5731_SPRING2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
string = 'sample'
len = len(string)
print(len)

6

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
SampleString = 'google.com'
Result = {}
for i in SampleString:
  if i in Result:
    Result[i] += 1
  else:
    Result[i] = 1
print ("Count of all characters in string is :\n "
                                        +  str(Result))

Count of all characters in string is :
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
list1 = [1,2,3,4,5.1]
SumResult = sum(list1)
print(SumResult)

15.1

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
SampleString = 'restart'
string = 'estart'
firstchar = SampleString[0]
replaced = string.replace('r','$',1)
Result = firstchar+replaced
print(Result)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
a = input('Enter the first number: ')
b = input('Enter the second number: ')
S = 3.14 * (1+ float(a)/float(b))**3
print(S)

Enter the first number: 1
Enter the second number: 2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here
tuple = ("s", 3, "a", "i", "t", "e", "j", "a")
print("a" in tuple)
print(2 in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here

sampleset = set([5, 10, 3, 15, 23]) 

print(max(sampleset))

print(min(sampleset))

23
3

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random
student_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

for i in range(4):
  sampling=random.choices(student_list, k=6)
  student_list=[i for i in student_list if i not in sampling]
  print("Group" +str(i+1)+":",sampling)

Group1: ['al0787', 'pt0218', 'ak0860', 'vp0241', 'dp1080', 'hr0178']
Group2: ['sm1515', 'sa0753', 'sa0753', 'ss1872', 'tbl0041', 'ap0975']
Group3: ['nk0327', 'km0738', 'ry0104', 'vmb0067', 'ps0501', 'tpk0023']
Group4: ['vk0216', 'laa0240', 'pk0292', 'vcd0017', 'ss1976', 'mk0830']